{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Cart Start -->
<div class="container-fluid pt-5" xmlns="http://www.w3.org/1999/html">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Produkty</th>
                            <th>Cena/ks</th>
                            <th>Množství</th>
                            <th>Celkem</th>
                            <th>Odstranit</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for object in order_lines %}
                        <tr>
                            <td><a href="{% url 'detail' object.Product.id %}" class="align-middle">{{ object.Product.title }}</a></td>
                            <td class="align-middle">€ {{ object.product_price }}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="{% url 'remove_from_cart' object.id %}">
                                            <button class="btn btn-sm btn-primary btn-minus" >
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{ object.quantity }}">
                                    <div class="input-group-btn">
                                        <a href="{% url 'add_to_cart' object.Product.id %}">
                                            <button class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">€ {{ object.line_total }}</td>
                            <td class="align-middle">
                                 <a href="{% url 'delete_order_line' object.id %}">
                                     <button class="btn btn-sm btn-primary">
                                         <i class="fa fa-times"></i>
                                     </button>
                                 </a>
                            </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>

                {% if not order_lines %}
                    <div class="text-center">
                        <h2 class="mt-xl-5">KOŠÍK JE PRÁZDNÝ</h2>
                    </div>

                {% endif %}

            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Slevový kód">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Uplatnit</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Souhrn košíku</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Cena zboží</h6>
                            <h6 class="font-weight-medium">€ {{ total_cost }}</h6>
                        </div>
<!--                        <div class="d-flex justify-content-between">-->
<!--                            <h6 class="font-weight-medium">Doprava</h6>-->
<!--                            <h6 class="font-weight-medium">€ 10</h6>-->
<!--                        </div>-->
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Celková cena</h5>
                            <h5 class="font-weight-bold">€ {{ total_cost }}</h5>
                        </div>
                        <a href="{% url 'checkout' %}">
                            <button class="btn btn-block btn-primary my-3 py-3">K pokladně</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock %}







<!--<h2>Shopping Cart</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>Product</th>-->
<!--            <th>Quantity</th>-->
<!--            <th>Price</th>-->
<!--            <th>Total</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        {% for object in order_lines %}-->
<!--        <tr>-->
<!--            <td>{{ object.Product.title }}</td>-->
<!--            <td>{{ object.quantity }}</td>-->
<!--            <td>{{ object.product_price }}</td>-->
<!--            <td>{{ object.line_total }}</td>-->
<!--            <td>-->
<!--                <a href="{% url 'remove_from_cart' object.id %}">Remove one</a>-->
<!--                <a href="{% url 'delete_order_line' object.id %}">Remove all</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->
<!--<h3>Total: {{ total_cost }}</h3>-->
<!--<a href="">Proceed to Checkout</a>-->






