{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Začátek košíku -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Tabulka s produkty v košíku -->
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <!-- Hlavička tabulky s názvy sloupců -->
                            <th>Products</th>  <!-- Produkty -->
                            <th>Price</th>     <!-- Cena -->
                            <th>Quantity</th>  <!-- Množství -->
                            <th>Total</th>     <!-- Celkem -->
                            <th>Remove</th>    <!-- Odebrat -->
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <!-- Příklad produktu v košíku -->
                        <tr>
                            <td class="align-middle">
                                <!-- Obrázek produktu a název -->
                                <img src="img/product-1.jpg" alt="" style="width: 50px;"> Colorful Stylish Shirt
                            </td>
                            <td class="align-middle">$150</td>  <!-- Cena produktu -->
                            <td class="align-middle">
                                <!-- Výběr množství produktu -->
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus">
                                            <!-- Tlačítko pro snížení množství -->
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <!-- Tlačítko pro zvýšení množství -->
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>  <!-- Celková cena za toto množství -->
                            <td class="align-middle">
                                <!-- Tlačítko pro odstranění produktu z košíku -->
                                <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        <!-- Další produkty v košíku (kopie prvního řádku) -->
                        <!-- (Opakujte pro každý produkt) -->
                        <tr>
                            <td class="align-middle">
                                <img src="img/product-2.jpg" alt="" style="width: 50px;"> Colorful Stylish Shirt
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$150</td>
                            <td class="align-middle">
                                <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        <!-- Příklady dalších produktů (zkopírovat a upravit podle potřeby) -->
                        <!-- ... -->
                    </tbody>
                </table>
            </div>
            <!-- Shrnutí košíku a platební možnosti -->
            <div class="col-lg-4">
                <!-- Formulář pro uplatnění slevového kódu -->
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code"> <!-- Pole pro kód slevy -->
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button> <!-- Tlačítko pro aplikaci slevového kódu -->
                        </div>
                    </div>
                </form>
                <!-- Shrnutí košíku -->
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4> <!-- Nadpis shrnutí košíku -->
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6> <!-- Mezisoučet -->
                            <h6 class="font-weight-medium">$150</h6> <!-- Částka mezisoučtu -->
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6> <!-- Náklady na dopravu -->
                            <h6 class="font-weight-medium">$10</h6> <!-- Částka za dopravu -->
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5> <!-- Celková částka -->
                            <h5 class="font-weight-bold">$160</h5> <!-- Částka celkového součtu -->
                        </div>
                        <!-- Tlačítko pro pokračování k pokladně -->
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Konec košíku -->

{% endblock %}
