{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Začátek pokladny (Checkout) -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Sekce pro vyplnění fakturační adresy -->
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Doručovací adresa</h4>
                <form method="post" action="{% url 'place_order' order.id %}">
                    {% csrf_token %}
                    <!-- Pole pro jméno -->
                    <div class="col-md-6 form-group">
                        <label>Křestní jméno</label>
                        <input class="form-control" type="text" name="first_name" value="{{ request.user.first_name }}" placeholder="John">
                    </div>
                    <!-- Pole pro příjmení -->
                    <div class="col-md-6 form-group">
                        <label>Příjmení</label>
                        <input class="form-control" type="text" name="last_name" value="{{ request.user.last_name }}" placeholder="Doe">
                    </div>
                    <!-- Pole pro e-mail -->
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="email" name="email" value="{{ request.user.email }}" placeholder="example@email.com">
                    </div>
                    <!-- Pole pro telefonní číslo -->
                    <div class="col-md-6 form-group">
                        <label>Telefonní číslo</label>
                        <input class="form-control" type="text" name="phone_number" value="{{ request.user.profile.phone_number }}" placeholder="+123 456 789">
                    </div>
                    <!-- Pole pro adresu -->
                    <div class="col-md-6 form-group">
                        <label>Adresa</label>
                        <input class="form-control" type="text" name="address" value="{{ request.user.profile.address }}" placeholder="123 Street">
                    </div>
                    <!-- Pole pro město -->
                    <div class="col-md-6 form-group">
                        <label>Město</label>
                        <input class="form-control" type="text" name="city" value="{{ request.user.profile.city }}" placeholder="New York">
                    </div>
                    <!-- Submit button for placing order -->
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Závazně objednat</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Sekce pro souhrn objednávky a možnosti platby -->
        <div class="col-lg-4">
            <!-- Shrnutí objednávky -->
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Shrnutí objednávky</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Produkty</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col">Množství</th>
                                <th scope="col">Mezisoučet</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order_summary %}
                            <tr>
                                <td>{{ item.product_title }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>€{{ item.line_total }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr class="mt-0">

                    {% with shipping_cost=10 %}
                    {% with total_with_shipping=total_cost|add:shipping_cost %}
                    <!-- Mezisoučet -->
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Celková cena</h6>
                        <h6 class="font-weight-medium">€{{ total_cost }}</h6>
                    </div>
                    <!-- Doprava -->
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Doprava</h6>
                        <h6 class="font-weight-medium">€{{ shipping_cost }}</h6>
                    </div>
                </div>
                <!-- Celková částka -->
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">K zaplacení</h5>
                        <h5 class="font-weight-bold">€{{ total_with_shipping }}</h5>
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
            </div>
            <!-- Možnosti platby -->
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Platba</h4>
                </div>
                <div class="card-body">
                    <!-- Možnost platby Paypal -->
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <!-- Možnost platby Přímý šek -->
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Platební karta</label>
                        </div>
                    </div>
                    <!-- Možnost platby Bankovní převod -->
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bankovní převod</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Konec pokladny (Checkout) -->

{% endblock %}