{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="faq-container">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <h1 class="m-0 display-9 font-weight-semi-bold"><span class="text-primary font-weight-light border px-1 mr-2">DA</span>Discovery adventure</h1>
                </a>
                <p>Náš obchod nabízí široký sortiment sportovního vybavení pro všechny věkové kategorie a úrovně dovedností. Od tenisek po fitness náčiní, máme vše pro vaše sportovní potřeby a zdravý životní styl.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i> Pražská ulice 123 <br> 110 00 Praha 1 <br> Česká republika</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@DA.cz</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+420 730 525 754</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}