{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <!-- Obrázky produktu s carousel (karusell) -->
            <div class="col-lg-5 pb-5">
                {% if product.thumbnail %}
                <div class="product-img" style="height: 400px; /* Upravte podle potřeby */">
                <img src="{% static 'img/'|add:product.thumbnail %}" alt="{{ product.name }}"
                     style="width: 100%; height: 100%; object-fit: contain;">
            </div>
                {% endif %}
            </div>
        <!-- Detaily produktu -->
        <div class="col-lg-7 pb-5">
            <!-- Název produktu -->
            <h3 class="font-weight-semi-bold">{{ product.title }}</h3> <!-- TODO: název produktu -->
            <div class="d-flex mb-3">
                <!-- Hodnocení produktu -->
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            <!-- Cena produktu v EUR a CZK -->
            <h3 class="font-weight-semi-bold mb-4">€ {{ product.price }} ({{ price_czk|floatformat:2 }} Kč)</h3>
            <!-- aktuální kurz produktu v czk API -->
            <!-- Popis produktu -->
            <p class="mb-4">{{ product.description }}</p>
            <div class="d-flex mb-3">
                <!-- Počet kusů skladem -->
                <p class="text-dark font-weight-medium mb-0 mr-3">Skladem:</p>
                <div>
                    {{product.stock}} ks <!-- TODO: validace počtu produktů skladem a vložení do košíku -->
                </div>
            </div>
            <div class="d-flex mb-3">
                <!-- Výrobce produktu -->
                <p class="text-dark font-weight-medium mb-0 mr-3">Výrobce:</p>
                <div>
                    {{product.manufacturer}}
                </div>
            </div>
            <div class="d-flex align-items-center mb-4 pt-2">
                <!-- Počet kusů, které chce uživatel koupit -->
                <form id="add-to-cart-form" action="{{ product.add_to_cart_url }}" method="GET">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" name="quantity" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Vložit do košíku
                    </button>
                </form>
            </div>
            <div class="d-flex pt-2">
                <!-- Sdílení produktu na sociálních sítích -->
                <p class="text-dark font-weight-medium mb-0 mr-2">Sdílet:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->

{% endblock %}