{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <!-- Obrázky produktu s carousel (karusell) -->
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <!-- Každý item v karusellu -->
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="img/product-1.jpg" alt="Image">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="img/product-2.jpg" alt="Image">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="img/product-3.jpg" alt="Image">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="img/product-4.jpg" alt="Image">
                        </div>
                    </div>
                    <!-- Odkazy pro navigaci mezi obrázky karusellu -->
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <!-- Detaily produktu -->
            <div class="col-lg-7 pb-5">
                <!-- Název produktu -->
                <h3 class="font-weight-semi-bold">{{ product.title }}</h3> <!-- TODO: název produktu -->
                <div class="d-flex mb-3">
                    <!-- Hodnocení produktu -->
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <!-- Cena produktu v EUR a CZK -->
                <h3 class="font-weight-semi-bold mb-4">€ {{ product.price }} ({{ price_czk|floatformat:2 }} Kč)</h3> <!-- aktuální kurz produktu v czk API -->
                <!-- Popis produktu -->
                <p class="mb-4">{{ product.description }}</p>
                <div class="d-flex mb-3">
                    <!-- Počet kusů skladem -->
                    <p class="text-dark font-weight-medium mb-0 mr-3">Skladem:</p>
                        <div>
                            {{product.stock}} ks <!-- TODO: validace počtu produktů skladem a vložení do košíku -->
                        </div>
                </div>
                <div class="d-flex mb-3">
                    <!-- Výrobce produktu -->
                    <p class="text-dark font-weight-medium mb-0 mr-3">Výrobce:</p>
                        <div>
                            {{product.manufacturer}}
                        </div>
                </div>
                <div class="d-flex mb-3">
                    <!-- Výběr velikosti produktu -->
                    <p class="text-dark font-weight-medium mb-0 mr-3">Velikosti:</p>
                    <form>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-1" name="size">
                            <label class="custom-control-label" for="size-1">XS</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-2" name="size">
                            <label class="custom-control-label" for="size-2">S</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-3" name="size">
                            <label class="custom-control-label" for="size-3">M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-4" name="size">
                            <label class="custom-control-label" for="size-4">L</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-5" name="size">
                            <label class="custom-control-label" for="size-5">XL</label>
                        </div>
                    </form>
                </div>
                <div class="d-flex mb-4">
                    <!-- Výběr barvy produktu -->
                    <p class="text-dark font-weight-medium mb-0 mr-3">Barvy:</p>
                    <form>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-1" name="color">
                            <label class="custom-control-label" for="color-1">Black</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-2" name="color">
                            <label class="custom-control-label" for="color-2">White</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-3" name="color">
                            <label class="custom-control-label" for="color-3">Red</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-4" name="color">
                            <label class="custom-control-label" for="color-4">Blue</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-5" name="color">
                            <label class="custom-control-label" for="color-5">Green</label>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <!-- Počet kusů, které chce uživatel koupit -->
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" >
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <a href="{{ product.add_to_cart_url }}">
                        <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Vložit do košíku</button>
                    </a>
                </div>
                <div class="d-flex pt-2">
                    <!-- Sdílení produktu na sociálních sítích -->
                    <p class="text-dark font-weight-medium mb-0 mr-2">Sdílet:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <!-- Tab panely pro popis, informace a recenze produktu -->
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Popis</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Informace</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Recenze (0)</a>
                </div>
                <div class="tab-content">
                    <!-- Popis produktu -->
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Popis produktu</h4>
                        <p>{{ product.description }}</p> <!-- Popis produktu -->
                    </div>
                    <!-- Informace o produktu -->
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">Informace o produktu</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="font-weight-medium">Výrobce</h6>
                                <p>{{ product.manufacturer }}</p>
                                <h6 class="font-weight-medium">Velikost</h6>
                                <p>{{ product.size }}</p>
                                <h6 class="font-weight-medium">Barva</h6>
                                <p>{{ product.color }}</p>
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-medium">Materiál</h6>
                                <p>{{ product.material }}</p>
                                <h6 class="font-weight-medium">Hmotnost</h6>
                                <p>{{ product.weight }} kg</p>
                            </div>
                        </div>
                    </div>
                    <!-- Recenze produktu -->
                    <div class="tab-pane fade" id="tab-pane-3">
                        <h4 class="mb-3">Recenze</h4>
                        <p>Žádné recenze zatím nejsou k dispozici.</p> <!-- TODO: dynamické načítání recenzí -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

{% endblock %}
