{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Jumbotron pro velký úvodní blok -->
    <div class="jumbotron">
        <div class="faq-container">
            <!-- Hlavní nadpis sekce FAQ -->
            <div class="faq-header">
                <h1>Často kladené otázky (FAQ)</h1>
            </div>
            <!-- První otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">1. Jaké druhy sportovního vybavení nabízíte?</div>
                <div class="faq-answer">Nabízíme širokou škálu sportovního vybavení pro různé sporty včetně turistiky, horolezectví, běhání, cyklistiky, lyžování a dalších.</div>
            </div>
            <!-- Druhá otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">2. Jak mohu provést objednávku?</div>
                <div class="faq-answer">Objednávku můžete provést online prostřednictvím našeho e-shopu. Vyberte si produkty, přidejte je do košíku a následujte instrukce k dokončení nákupu.</div>
            </div>
            <!-- Třetí otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">3. Jaké jsou možnosti platby?</div>
                <div class="faq-answer">Přijímáme platby kreditními a debetními kartami, bankovním převodem a prostřednictvím platebních bran jako je PayPal.</div>
            </div>
            <!-- Čtvrtá otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">4. Jak dlouho trvá doručení?</div>
                <div class="faq-answer">Doba doručení závisí na místě doručení a zvoleném způsobu dopravy. Obvykle trvá 2-5 pracovních dní v rámci České republiky.</div>
            </div>
            <!-- Pátá otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">5. Můžu zboží vrátit nebo vyměnit?</div>
                <div class="faq-answer">Ano, zboží můžete vrátit nebo vyměnit do 30 dnů od jeho doručení. Zboží musí být nepoužité a v původním balení. Pro více informací navštivte naši sekci o vrácení zboží.</div>
            </div>
            <!-- Šestá otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">6. Nabízíte zákaznickou podporu?</div>
                <div class="faq-answer">Ano, naše zákaznická podpora je vám k dispozici prostřednictvím e-mailu a telefonu od pondělí do pátku od 9:00 do 17:00.</div>
            </div>
            <!-- Sedmá otázka a odpověď -->
            <div class="faq-section">
                <div class="faq-question">7. Jak mohu sledovat svou objednávku?</div>
                <div class="faq-answer">Po odeslání objednávky vám zašleme sledovací číslo, které můžete použít na webu přepravce k sledování své zásilky.</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
