<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <!-- Sekce pro informace o obchodě a kontaktní údaje -->
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <!-- Logo obchodu s názvem -->
            <a href="{% url 'home' %}" class="text-decoration-none">
                <h1 class="m-0 display-9 font-weight-semi-bold"><span class="text-primary font-weight-light border px-1 mr-2">DA</span>Discovery adventure</h1>
            </a>
            <!-- Krátký popis obchodu -->
            <p>Náš obchod nabízí široký sortiment sportovního vybavení pro všechny věkové kategorie a úrovně dovedností. Od tenisek po fitness náčiní, máme vše pro vaše sportovní potřeby a zdravý životní styl.</p>
            <!-- Kontaktní informace -->
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i> Pražská ulice 123 <br> 110 00 Praha 1 <br> Česká republika</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@DA.cz</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+420 730 525 754</p>
        </div>
        <!-- Sekce s rychlými odkazy -->
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <!-- Sloupec pro rychlé odkazy k různým částem webu -->
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Rychlé odkazy</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="{% url 'home' %}"><i class="fa fa-angle-right mr-2"></i>Domů</a>
                        <a class="text-dark mb-2" href="{% url 'shop' %}"><i class="fa fa-angle-right mr-2"></i>Všechny produkty</a>
                        <a class="text-dark mb-2" href="{% url 'random' %}"><i class="fa fa-angle-right mr-2"></i>náhodný produkt</a>
                        <a class="text-dark mb-2" href="{% url 'cart' %}"><i class="fa fa-angle-right mr-2"></i>Nákupní košík</a>
                        <a class="text-dark mb-2" href="{% url 'checkout' %}"><i class="fa fa-angle-right mr-2"></i>Pokladna</a>
                    </div>
                </div>
                <!-- Další sloupec s odkazy, zde je aktuálně přidána sekce FAQ -->
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Rychlé odkazy</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="{% url 'faq' %}"><i class="fa fa-angle-right mr-2"></i>FAQ</a>
                        <!-- Další odkazy byly zakomentovány, ale mohou být použity později -->
                        <!-- <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a> -->
                        <!-- <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a> -->
                        <!-- <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a> -->
                        <!-- <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a> -->
                        <!-- <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a> -->
                    </div>
                </div>
                <!-- Sloupec pro přihlášení k newsletteru -->
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <!-- Pole pro zadání jména -->
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Vaše jméno" required="required" />
                        </div>
                        <!-- Pole pro zadání emailu -->
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Váš email" required="required" />
                        </div>
                        <!-- Tlačítko pro odeslání formuláře -->
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Přihlásit odběr</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Spodní část footeru s autorskými právy a platebními ikonami -->
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">Discovery adventure</a>. Všechna práva vyhrazena. Design od
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                Distribuováno <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <!-- Obrázek s ikonami platebních metod -->
            <img class="img-fluid" src="img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->
