{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Categories Start -->
    <!-- TODO: změnit, aby se zobrazovalo vedle sebe -->
<div class="container-fluid pt-5">
    <div class="row">
        {% for object in object_list %}
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">10 Products</p>
                    <a href="category/{{ object.id }}/" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">{{ object.name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    <!-- Categories End -->
{% endblock %}