{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Categories Start -->
    <!-- Hlavní kontejner pro kategorii, začíná novým řádkem a má padding nahoře -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <!-- Smyčka pro iteraci přes všechny kategorie -->
            {% for category in categories %}
                <!-- Sloupec pro každou kategorii. Šířka sloupce je určena pro velké obrazovky (col-lg-4) a střední obrazovky (col-md-6). -->
                <div class="col-lg-4 col-md-6 pb-1">
                    <!-- Blok pro každou kategorii. Používá flexbox pro uspořádání prvků a má padding 30px -->
                    <a href="{% url 'category' category.id %}" class="cat-item d-flex flex-column border mb-4" style="padding: 30px; text-decoration: none; color: inherit;">
                        <!-- Obrázek kategorie. Cesta k obrázku je nastavena pomocí statického souboru -->
                        <div class="cat-img position-relative overflow-hidden mb-3">
                            {% if category.thumbnail %}
                                <img class="img-fluid" src="{% static 'img/'|add:category.thumbnail %}" alt="{{ category.name }}">
                            {% else %}
                                <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="{{ category.name }}">
                            {% endif %}
                        </div>
                        <!-- Název kategorie s použitím tučného písma -->
                        <h5 class="font-weight-semi-bold m-0">{{ category.name }}</h5>
                        <!-- Počet produktů v kategorii zobrazený vpravo -->
                        <p class="text-right mt-2">{{ category.product_count }} Produktů</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Categories End -->
{% endblock %}