<!--TODO: vytvořit funkční view pro login + registraci-->
<!--TODO: napojit přes javascript na všech stránkách login/logout není-li jedno aktivní-->

<!--TODO: template a funkce pro náhodný detail produktu-->
<!--TODO: checkout košíku-->

<!--TODO: obrázky kategorií-->
<!--TODO: obrázky produktů-->
<!--TODO: stránkovaní produktů-->

<!--TODO: administrativní panel a jeho fce-->

<!--TODO: větvení category_type produktu v liště sportů(kategorií)?-->

<!--TODO: počasí usera-->



<!--TODO: templaty pro dané kategorie produktů-->
<!--TODO: template detail produktu a jeho zobrazení-->
<!--TODO: detail produktu -->