<!--TODone: vytvořit funkční view pro login + registraci-->
<!--TODle asi ne?: napojit přes javascript na všech stránkách login/logout není-li jedno aktivní-->
<!--TODOne: admin: authentication a update produktu, ikona-->

<!--TODO: KOŠÍK-->
    <!--TODO: checkout košíku-->
    <!--TODO: vložení produktu do košíku-->
    <!--TODO: "OBJEDNÁVKA" - statická template s poděkováním, redukce počtu produktů na skladě-->
<!--TODO: checkout pokladny-->
<!--TODOne: proklik z homepage-kategorie na url kategorie s produkty = napárovat jméno/id -->

<!--TODOne: template a funkce pro náhodný detail produktu-->
<!--TODO: obrázky kategorií-->
<!--TODO: obrázky produktů-->
<!--TODO: stránkovaní produktů--> DONE
<!--TODO: vyhledání produktů-->
<!--TODO: řazení produktů dle ceny, vložení? = přidání fce do modelu Product + atributu vložení-->
<!--TODO: funkce skladem > 10 ?-->

<!--TODO: validace formulářů login/signup ?-->
<!--TODO: vzhled formulářů-->

<!--TODO: administrativní panel a jeho fce-->
    <!--TODO: editace dat uživatele-->


<!-- ONDRA -->
<!--TODO: počasí usera-->
<!--TODO: API aktuální koverze €  měny v produktu na CZK-->



<!--TODOne: templaty pro dané kategorie produktů-->
<!--TODOne: template detail produktu a jeho zobrazení-->
<!--TODOne: detail produktu -->

<!--Vítek-->
<!--TODO: Přidání prokliku na košík ke všem produktům a do detailu produktu (v záhlaví to funguje)-->
<!--TODO: Přidání obrázlů k produktům -->
<!--TODO: Zprovoznění hledání produktů -->
<!--TODO: Zprovoznit prokliky na detailu produktu -->
<!--TODO: Revize šablony detail produktu vyškrtnout blbosti -->
<!--TODO: informace a receze v detailu produktu -->
<!--TODO: Mohlo by se vám líbit carousel zprovoznit -->
<!--TODO: Newsletter zprovoznit-->

