<!--TODO: vytvořit funkční view pro login + registraci-->
<!--TODO: napojit přes javascript na všech stránkách login/logout není-li jedno aktivní-->

<!--TODO: KOŠÍK-->
    <!--TODO: checkout košíku-->
    <!--TODO: vložení produktu do košíku-->
    <!--TODO: "OBJEDNÁVKA" - statická template s poděkováním, redukce počtu produktů na skladě-->
<!--TODO: checkout pokladny-->
<!--TODO: proklik z homepage-kategorie na url kategorie s produkty = napárovat jméno/id -->

<!--TODO: template a funkce pro náhodný detail produktu-->
<!--TODO: obrázky kategorií-->
<!--TODO: obrázky produktů-->
<!--TODO: stránkovaní produktů-->
<!--TODO: vyhledání produktů-->
<!--TODO: řazení produktů dle ceny, vložení? = přidání fce do modelu Product + atributu vložení-->
<!--TODO: funkce skladem > 10 ?-->

<!--TODO: administrativní panel a jeho fce-->
    <!--TODO: editace dat uživatele-->
<!--TODO: větvení category_type produktu v liště sportů(kategorií)?-->

<!--TODO: počasí usera-->



<!--TODO: templaty pro dané kategorie produktů-->
<!--TODO: template detail produktu a jeho zobrazení-->
<!--TODO: detail produktu -->